// variabels
$white: #fff;
$yellow: #ffd200;
$grey: rgba(114, 113, 113, 0.8);
$blue: #68e1fd;
$dark: #393e46;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// navbar
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  position: fixed;
  transition: 0.3s;

  a {
    text-decoration: none;
    font-size: 18px;
    color: $white;
    font-weight: bold;
    transition: 0.3s;

    span {
      padding: 5px 10px;
      color: $white;
      border-radius: 20px;
      background: $yellow;
      transition: 0.3s;
    }
  }

  button {
    padding: 5px 15px;
    border: none;
    color: $white;
    background: $yellow;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
}

// sticky navbar
header.sticky {
  background: rgba(57, 62, 70, 0.97);

  a {
    color: $white;
  }
}

// hero
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #393e46;

  .hero__text {
    width: 50%;
    padding: 0 5%;

    h1 {
      font-size: 35px;
      margin-bottom: 20px;
      color: $white;

      span {
        color: $yellow;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 40px;
      line-height: 30px;
      color: $white;
    }

    button {
      padding: 15px 25px;
      border: none;
      color: $white;
      background: $yellow;
      border-radius: 30px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .hero__img {
    width: 50%;
  }
}

// services
.services {
  width: 100%;
  height: 100vh;
  padding: 20px 5%;
  margin-top: 50px;

  .service__tittle {
    text-align: center;
    margin-top: 50px;

    p {
      font-size: 18px;
      color: $grey;
      margin-top: 10px;
    }
  }

  .service__container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

    .service__box {
      width: 300px;
      height: 350px;
      text-align: center;
      padding: 50px 20px;
      border-radius: 20px;
      box-shadow: 0 0 20px #e2e2e2;
      transition: 0.3s;

      &:hover {
        background: $yellow;

        i,
        h3,
        p {
          color: $white;
        }
      }

      i {
        font-size: 36px;
        margin-bottom: 50px;
        color: $yellow;
        border-radius: 50%;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        color: $grey;
      }
    }
  }
}
